.uni-card{
    border:1px solid gray;
    margin:5px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(34, 31, 31);
    color:white;
}
.image-size{
    height:200px;
    width:300px;
    margin-top:5px;
    border:1px solid gray;
}
.style-btn{
    background-color: goldenrod;
    padding:5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    border:1px solid white; 
}